* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.app {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app h1 {
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.quiz {
    padding: 30px 0;
}

#question {
    font-size: 18px;
    font-weight: 600;
    color: #001e4d;
}

.btn {
    font-weight: 500;
    color: #001e4d;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #222;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    color: #fff;
    background-color: #001e4d;
    font-weight: 500;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    margin: 20px auto;
    cursor: pointer;
    width: 50%;
    display: none;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}

@media (max-width: 600px) {
    .app {
        padding: 20px;
    }

    #next-btn {
        width: 100%;
    }
}